<% if signed_in? %>
<div class="row">
  <aside class="span4">
    <section>
    </br>
      <h1>
         My Name: <%= current_user.user_name %></br>
             My Email: <%= current_user.email %></br>
             My Images:<%= Image.count %></br>
             My Friends:<%= 0 %></br>
             My Filters:<%= 0 %></br>
         
      </h1>
    </section>
  </aside>

  <div class="span8">
     <h3>Images (<%= Image.count %>)</h3>
      <%= will_paginate @images %>

      <span class="content">
      	<% @images.each do |image| %>
      	<td><%= image_tag image.image_path,size:"600"%></td>
      	<td></br></td>
      	<td></br></td>
      	<td></br></td>

      	<% end %>
      </span>

      <%= will_paginate @images %>
  </div>
</div>




<%else%>
<div class="center hero-unit">
  <h1>Welcome to Majik</h1>
  <h2>
    This is the home page for Majik.
  </h2>
  <div><%= link_to image_tag("1.jpg", alt: "Majik"), root_path %></div>
</br>

  <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-large" %>
</div>
<%end%>

