<h1>My Images</h1>

<% if !flash[:notice].blank? %>
  <div class="alert alert-info">
  <%= flash[:notice] %>
  </div>
<% end %>

<%= link_to "Upload Image", new_image_path, class: "btn "%>
<%= will_paginate %>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Image</th>
      <th>Image Name</th>
      <th>Image Version</th>
      <th>Image Tag</th>
      <th>Image Filter</th>
      <th>Download Link</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% @images.each do |image| %>
      <tr>
        <td><%= image_tag image.image_path,size:"400"%></td>
        <td><%= image.image_name %></td>
        <td><%= image.version %></td>
        <td><%= 'null' %></td>
        <td><%= image.filter_id %></td>
        <td><%= link_to "Download image", image.image_path_url %></td>
        <td><%= button_to "Delete",  image, method: :delete, class: "btn btn-danger", confirm: "Are you sure that you wish to delete #{image.image_name}?" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate %>