<h1>New image</h1>

<% if !@image.errors.empty? %>
  <div class="alert alert-error">
    <ul>
      <% @image.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>



<div class="well">
  <%= form_for @image, html: { multipart: true } do |f| %>
    <%= f.label :name %>
    <%= f.text_field :image_name %>
    <%= f.label :imagepath %>
    <%= f.file_field :image_path %>
    <%= f.submit "Save", class: "btn btn-primary" %>
  <% end %>
</div>