<p id="notice"><%= notice %></p>

<p>
  <strong>Image name:</strong>
  <%= @image.image_name %>
</p>

<p>
  <strong>Parent:</strong>
  <%= @image.parent_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @image.user_id %>
</p>

<p>
  <strong>Version:</strong>
  <%= @image.version %>
</p>

<p>
  <strong>Image path:</strong>
  <%= @image.image_path %>
</p>

<p>
  <strong>Filter:</strong>
  <%= @image.filter_id %>
</p>

<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
