<h1>Sign in</h1>
<div class="row">
  <div class="span6 offset3">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div><%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true ,class:"span6"%></div>

    <div><%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" ,class:"span6"%></div>

    <% if devise_mapping.rememberable? -%>
      <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
    <% end -%>

    <div><%= f.submit "Sign in"  ,class: "btn btn-large btn-primary"%></div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
