<h1>Sign up</h1>
<div class="row">
  <div class="span6 offset3">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div>
  <%= f.label :name %><br />
  <%= f.text_field :user_name,class:"span6"%><br />
  </div>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true ,class:"span6"%></div>

  <div><%= f.label :password %> <% if @validatable %><i>(<%= @minimum_password_length %> characters minimum)</i><% end %><br />
    <%= f.password_field :password, autocomplete: "off" ,class:"span6"%></div>

  <div><%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" ,class:"span6"%></div>

  <div><%= f.submit "Sign up" ,class: "btn btn-large btn-primary"%></div>
<% end %>
<%= render "devise/shared/links" %>
  </div>
</div>
