<!DOCTYPE html>
<html>
<head>
  <title>Majik</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Majik", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">     
          <% if signed_in? %>            
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "Friends", '#' %></li>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= Images %><span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><%= link_to "My Images", images_path %></li>
                <li class="divider"></li>
                <li><%= link_to "Create Images",'#' %></li>
                <li class="divider"></li>
                <li><%= link_to "Upload Images", new_image_path %></li>       
              </ul>
            </li>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= 'Filters' %><span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><%= link_to "My Filters", '#' %></li>
                <li class="divider"></li>
                <li><%= link_to "Upload Filters", '#' %></li>        
              </ul>
            </li>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.email %><span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><%= link_to "Edit Account", edit_user_registration_path %></li>
                <li class="divider"></li>
                <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "About", home_page_about_path %></li>
            <li><%= link_to "Help", home_page_help_path %></li>
            <li><%= link_to "Sign in", new_user_session_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>
<div class="container">
<%= yield%>
</div>
</body>
</html>
